/*!
 * Stylesheet for design kmom01.
 *
 * This stylesheet is for the design course and kmom01. Fill it with style
 * to style up the website so it is useable.
 */

/* Hide submenu, leave this to kmom02 */
.rm-desktop ul {
    display: none;
}

/* Hide responsive/mobile menu, leave this to kmom02 */
.rm-navbar-max {
    display: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: gray;
}

.author-byline {
    border: 1px solid #ccc;
    margin-bottom: 46px;
    padding: 1em;
    float: left;
    margin-top: -2em;
    margin-left: 2em;
}

.route {
    height: 100%;
}

.region-main.has-sidebar-left {
    display: inline;
    float: right;
    width: 65.625%;
    margin-left: .52083333%;
    margin-right: .52083333%;
    margin-left: 4.6875%;
    /* margin-top: -10em; */
    padding-bottom: 5em;
}

.next {
    float: right;
}

.site-logo-text-icon,
.site-logo-text,
.site-logo{
    display: none;
}

.wrap-all {
    max-width: 1000px;
    margin: 0 auto;
}

.my-navbar {
    list-style-type: none;
    text-align: center;
    padding-top: 1em;
    margin-bottom: 1em;
}

.my-navbar li {
    display: inline;
    padding: 0 10px;
    /* border-style: ridge; */
    font-family: sans-serif;
}

.my-navbar :hover {
    color: blue;
}

.region-flash img {
    margin-left: -5em;
}

.article h1 {
    text-align: center;
}

.right {
    /* margin-left: 10em; */
    float: left;
    padding: 2em;
}

.article {
    padding: 2em;
}


.region-footer {
    padding-top: -2em;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: darkgrey;
    color: white;
    text-align: center;
    border-top: solid;
    color: black;
}

.footer-column {
    display: inline;
    float: left;
    width: 32.29166667%;
    margin-left: .52083333%;
    margin-right: .52083333%;
    bottom: 0;
}

.toc {
    float: left;
}

.region-sidebar-right {
    float: left;
    margin-left: 2em;
}
